.Header {
    background-color: #313132;
    color: #d6d6d6;
    .wrapper {
        margin: auto;
        max-width: 1080px;
        h1 {
            text-align: center;
            padding: 10px;
        }
    }
}
